.container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  border: 2px solid red;
}
/* header */
header {
  width: 95%;
  border: 2px solid black;
  margin: 0 auto;
  padding: 24px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

ul li a {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1rem;
line-height: 19px;
letter-spacing: 0.1px;
transition-duration: 1s;
}

a:hover {
 color: #ffc800;
}

.button_action {
  padding: 12px 24px;
  background-color: #000000;
  border-radius: 32px;
  border-style: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: white;
  transition-duration: 1s;
  cursor: pointer;
}

.button_action:hover {
  background-color: #ffc800;
}