.container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  border: 2px solid red;
}
/* header */
header {
  width: 95%;
  /* border: 2px solid black; */
  margin: 0 auto;
  padding: 24px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

ul li a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.1px;
  transition-duration: 1s;
}

a:hover {
  color: #ffc800;
  text-decoration: underline;
}

.button_action {
  padding: 12px 24px;
  background-color: #000000;
  border-radius: 32px;
  border-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: white;
  transition-duration: 1s;
  cursor: pointer;
}

.button_action:hover {
  background-color: #ffc800;
}

/* section 1 */
.section1 {
  width: 80%;
  padding: 64px 0;
  /* border: 2px  solid green; */
  margin-inline: auto;
}

.section1_box {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.section1_div1 {
  width: 45%;
  margin-top: 70px;
  /* border: 1px solid green; */
}

.section1_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 60px;
  letter-spacing: -1px;
  color: #000000;
  margin-bottom: 24px;
}

.section1_paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 28px;
  color: #000000;
}

.section1_div_child {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.div_child_paragraph {
  width: 236px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #000000;
}

.section1_div2 {
  width: 45%;
  height: 430px;
}

.room1_photo {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* section2 */
.section2 {
  /* border: 2px solid green; */
  padding: 64px 0;
  margin: 0 auto;
  background-color: #f3f3f3;
}

.section2_box {
  margin-inline: auto;
  width: 80%;
  /* height: 150px; */
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  /* align-items: center; */
}

.section2_div1 {
  width: 30%;
  /* border: 2px solid green; */
  /* height: 150px; */
}

.feature_div {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: 2px solid purple; */
  margin-bottom: 16px;
}

.feature_photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.feature_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 28px;
  color: #000000;
  transition-duration: 1s;
}

.feature_heading:hover {
  color: #ffc800;
  transform: scale(1.1);
  cursor: pointer;
}

.feature_paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.1px;
}

/* section3 */
.section3 {
  margin: 0 auto;
  background-color: #000000;
  padding: 96px 0;
}

.section3_box {
  width: 80%;
  /* border: 2px solid red; */
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.section3_div1  {
  width: 45%;
  height: 428px;
  /* border: 2px solid red; */
}

.section3_div_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: -0.1px;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 82px;
}
.section3_div_paragraphs1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 16px;
}

.section3_div_paragraphs {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 8px;
}

/* section4  */
.section4 {
  margin: 0 auto;
  padding: 192px 0;
  height: 566px;
  background-image: url("../photos/Paris-apartment-vintage-interiors-Champeau-Wilde.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section4_box {
  width: 35%;
  /* border: 2px solid red; */
  margin-inline: auto;
}

.tagline_heading {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  margin-bottom: 12px;
}

.section4_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #ffffff;
  margin-bottom: 10px;
}


.button_white {
  padding: 12px 24px;
  background-color: white;
  color: #000000;
  border-radius: 32px;
  border-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.1px;
  display: block;
  margin-inline: auto;
  transition-duration: 1s;
}

.button_white:hover {
  cursor: pointer;
  background-color: #ffc800;
  transform: scale(1.1);
}

footer {
  margin: 0 auto;
  background-color: #000000;
  padding: 96px 0;
}

.footer_box {
  width: 75%;
  /* border: 2px solid red; */
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.footer_div1 {
  /* border: 2px solid red; */
  width: 20%;
}

.footer_div_heading {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 16px;
  transition-duration: 1s;
}

.footer_div_heading:hover {
  color: #ffc800;
  cursor: pointer;
}

.footer_div_text {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  margin-bottom: 8px;
}
.subscribe {
  margin-bottom: 24px;
}


.news_letter {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
}
